<link rel="stylesheet" href="{{ "css/menu.css" | absURL }}">

<nav class="main-menu">
    <ul>
        {{ range .Site.Menus.main }}
            <li{{ if .HasChildren }} class="dropdown"{{ end }}>
                <a href="{{ .URL }}">{{ .Name }}</a>
                {{ if .HasChildren }}
                    <ul class="submenu">
                        {{ range .Children }}
                            <li><a href="{{ .URL }}">{{ .Name }}</a></li>
                        {{ end }}
                    </ul>
                {{ end }}
            </li>
        {{ end }}
    </ul>
</nav>